@import 'tailwindcss';

@layer base {
  * {
    @apply border-border outline-ring/50;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
    }

  }
  body {
    @apply bg-background text-foreground text-sm;
  }
}